<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <link rel="Stylesheet" href="/cs/main.css">
</head>
<body>
    <div class="header">
    <div class="container">
        <%- include('./partials/navbar') %>
        <div class="row">
            <div class="col-2">
                <h1>Give wings to your creativity!</h1>
                <p>Are you someone who wishes to earn from your creativity?<br>Yes! you are in the right place</p>
                <a href="" class="btn">Explore Now &#8594</a>
            </div>
            <div class="col-2">
                <img src="/Images/creativity.jpeg">
            </div>
        </div>
    </div>
    </div>

</body>
</html>