* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}


body{
  background:radial-gradient(#fff,#ffd6d6);
}

.valid-feedback{
  color: green;
  margin-left: 10px;
  font-size: 12px;
}

.invalid-feedback{
  color: red;
  margin-left: 10px;
  font-size: 12px;
}


.signup-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f4f6f8; */


}

.form {
  border-radius: 6px;
  padding: 30px;
  width: 100%;
  max-width: 430px;
  margin-top: 30px;
  border: 2px solid #232836;
  background-color: white;

}

.heading {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.fields {
  margin: 15px;
}

.input {
  padding: 12px 16px;
  width: 100%;
  border-radius: 3px;
  border: none;
  outline: 2px solid #efefef;
  margin: 10px;
}

.head {
  margin: 10px;
  font-size: 20px;
}

.registerForm {
  background: #0171d3;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.registerForm:hover {
  background-color: #016dcb;
}

.date-field {
  background-color: white;
  padding: 15px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
}
